::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .container{
    height: 100vh;
    width: 100%;
    display: flex;          
    align-items: center;
    justify-content: center;
    /* z-index: -5; */
/* } */ */
.carousel{
    margin: 0 auto;         
    overflow: hidden;           
    width: 100%;
    height:100%;
    position: relative;
    /* right: -20rem; */
    /* top: 10%; */
    /* z-index: -9; */
    /* width: 50%; */
    /* height: 10vh; */
  
}
 .carousel-inner{
    white-space: nowrap;
    transition: ease 1s;
    width: 100%;
}
.carousel-item{
    display: inline-block;
    width: 100%;
    
} 
.carousel-item img{
    width: 100%;
}
.carousel-control{
    border: none; 
    display: inline-block;          
    position: absolute;        
    height: 50px;
    width: 50px;           
    border-radius: 100%;       
    top: calc(50% - 80px);
    cursor: pointer;
    background-color: aquamarine;
    /* z-index: 1111111111111112123112; */
} 
.left{
    left: 0;         
}
.right{
    right: 0;          
}
.carousel-indicator{
    position: absolute;        
    transform: translateX(-50%);
    left: 50%;
    bottom: 7em;
    z-index: 2;
}
.carousel-indicator-item{
    width: 15px;
    height: 15px;
    border: none;           
    background: #fff;          
    opacity: 0.5;
    margin: 0.2em;          
    border-radius: 50%;        
    cursor: pointer;
}         
.active{
    opacity: 1;         
}
